* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 100%;
  height: auto;
  background-color: rgb(221, 68, 68);
  margin: auto;
}
.boo {
  width: 100%;
  height: 100vh;
  background-color: rgb(155, 15, 15);
  display: flex;
}
.left {
  height: 100%;
  background-color: rgb(204, 204, 12);
  flex: 1;
}
.head {
  width: 100%;
  height: 30%;
  background-color: white;
}
.pic {
  width: 50%;
  height: 85%;
  background-color: brown;
  border-radius: 50%;
  margin: auto;
  padding-top: 30px;
  top: 3px;
  left: 87px;
  background-image: url(../img/photo_2024-11-27_13-40-40.jpg);
  background-position: center;
  background-size: cover;
}
.name {
  width: 100%;
  height: 30%;
  background-color: white;
}
.name h1 {
  font-size: 40px;
  margin-left: 15px;
}
.Menu {
  width: 100%;
  height: 40vh;
  background-color: white;
}
.Menu ul {
  display: flex;
  flex-direction: column;
}
.Menu ul li {
  list-style-type: none;
}
.Menu ul li a {
  text-decoration: none;
  margin: auto;
  color: black;
  font-size: 20px;
  padding-left: 30%;
  line-height: 35px;
  justify-content: center;
}
.Menu ul li a:hover {
  color: rgb(46, 46, 228);
  text-decoration: underline;
}
.footer {
  width: 100%;
  height: 69.5%;
  background-color: white;
}
.right {
  flex: 2;
  height: 100%;
  background-color: rgb(255, 196, 250);
  background-image: url(../img/photo_2024-11-27_09-51-45.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  width: 50%;
  height: 30%;
  background-color: white(0, 255, 255, 0.144);
  margin-top: 47%;
}
.text h2 {
  font-size: 20px;
  margin-left: 50px;
  line-height: 30px;
  color: white;
}
